## Pandas Index Objects

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("../data/LungCapData.xls")

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
df.index

In [ ]:
type(df.index)

In [ ]:
df.columns

In [ ]:
type(df.columns)

In [ ]:
df.axes

In [ ]:
df.columns[:3]

In [ ]:
df.index[0]

In [ ]:
df.index[-1]

In [ ]:
df.index[100:102]

In [ ]:
df.columns.tolist()

In [ ]:
df.index.is_unique

In [ ]:
summer.index.get_loc("DRIVAS, Dimitrios")

## Creating Index Objects

In [ ]:
import pandas as pd

In [ ]:
list_1 = [1,2,3]

In [ ]:
pd.Index(list_1)

In [ ]:
list_2 = ["m", "t", "w"]

In [ ]:
pd.Index(list_2)

In [ ]:
index_1 = pd.Index(range(1,4))
index_1

In [ ]:
index_2 = pd.Index(["Mo", "Tue", "Wed"], name = "days")
index_2

In [ ]:
pd.Series([34,32,21], index = index_1)

### Changing Row Index Labels

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("../data/covid19.csv", index_col="Country/Region")

In [ ]:
df.head()

In [ ]:
df.index

In [ ]:
df.reset_index(drop = False, inplace=True)

In [ ]:
df.head()

In [ ]:
df.set_index("ObservationDate", drop = True, inplace = True)

In [ ]:
df.head()

In [ ]:
df.index.is_unique

In [ ]:
#summer.index[0] = 1894

In [ ]:
#summer.index = "Before 2016"

In [ ]:
df.index.size

In [ ]:
new_index = ["Medal_No{}".format(i) for i in range(1,df.index.size+1)]
new_index

In [ ]:
df.index = new_index

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.index.is_unique

In [ ]:
df.index.name = "Medal_No"

In [ ]:
df.reset_index()

### Changing Column Labels

In [3]:
import pandas as pd

In [4]:
df = pd.read_excel("../data/LungCapData.xls")

In [5]:
df.head()

   LungCap  Age  Height Smoke  Gender Caesarean
0    6.475    6    62.1    no    male        no
1   10.125   18    74.7   yes  female        no
2    9.550   16    69.7    no  female       yes
3   11.125   14    71.0    no    male        no
4    4.800    5    56.9    no    male        no

In [6]:
df.tail()

     LungCap  Age  Height Smoke  Gender Caesarean
720    5.725    9    56.0    no  female        no
721    9.050   18    72.0   yes    male       yes
722    3.850   11    60.5   yes  female        no
723    9.825   15    64.9    no  female        no
724    7.100   10    67.7    no    male        no

In [7]:
df.columns

Index(['LungCap', 'Age', 'Height', 'Smoke', 'Gender', 'Caesarean'], dtype='object')

In [8]:
df.columns[0]

'LungCap'

In [ ]:
#titanic.columns[0] = "Alive"

In [9]:
df.columns = ['LungCap', 'Age', 'Height', 'Smoke', 'Gender', 'Caesarean']

In [10]:
df.head()

   LungCap  Age  Height Smoke  Gender Caesarean
0    6.475    6    62.1    no    male        no
1   10.125   18    74.7   yes  female        no
2    9.550   16    69.7    no  female       yes
3   11.125   14    71.0    no    male        no
4    4.800    5    56.9    no    male        no

In [11]:
df.columns.name

In [14]:
df.columns.name = "New Name"

In [15]:
df.head()

New Name  LungCap  Age  Height Smoke  Gender Caesarean
0           6.475    6    62.1    no    male        no
1          10.125   18    74.7   yes  female        no
2           9.550   16    69.7    no  female       yes
3          11.125   14    71.0    no    male        no
4           4.800    5    56.9    no    male        no

In [16]:
df.index.name = ""

In [17]:
df.head()

New Name  LungCap  Age  Height Smoke  Gender Caesarean
SL No
0           6.475    6    62.1    no    male        no
1          10.125   18    74.7   yes  female        no
2           9.550   16    69.7    no  female       yes
3          11.125   14    71.0    no    male        no
4           4.800    5    56.9    no    male        no

### Renaming Index & Column Labels

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("../data/covid19.csv", index_col = "Country/Region")

In [ ]:
df.head()

In [ ]:
df.rename(mapper = {"Country/Region":'Country'}, axis = "index")

In [ ]:
df.rename(index = {"Country/Region":'Country'}, inplace = True)

In [ ]:
df.head()

In [ ]:
df.rename(mapper = {"Province/State":"State"}, axis = "columns")

In [ ]:
df.rename(mapper = {"Province/State":"State"}, axis = "columns", inplace=True) 
df.head()