# Working with DataFrames

## Filtering DataFrames with one Condition

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("../data/LungCapData.xls")

In [ ]:
df.head(10)

In [ ]:
df.Gender.head(10)

In [ ]:
df.Gender == "male"

In [ ]:
df[df.Gender == "male"]

In [ ]:
df.loc[df.Gender == "Gender", "Smoke"]

In [ ]:
mask1 = df.Gender == "male"
mask1

In [ ]:
df_male = df.loc[mask1]

In [ ]:
df_male.head()

In [ ]:
df.dtypes # == object

In [ ]:
mask2 = df.dtypes == object
mask2

In [ ]:
df.loc[:, ~mask2]

In [ ]:
df.loc[mask1, ~mask2]

## Filtering DataFrames with many Conditions (AND)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("../data/LungCapData.xls")

In [ ]:
df.head(10)

In [ ]:
mask1 = df.Gender == "male"
mask1.head()

In [ ]:
mask2 = df.Age > 14
mask2.head()

In [ ]:
(mask1 & mask2).head()

In [ ]:
df.columns

In [ ]:
male_adult = titanic.loc[mask1 & mask2, ["Smoke", "Caesarean"]]
male_adult.head(5)

In [ ]:
male_adult.info()

In [ ]:
male_adult.describe()

In [ ]:
df.describe()

### Filtering DataFrames with many Conditions (OR)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("../data/LungCapData.xls")

In [ ]:
df.head()

In [ ]:
mask1 = df.Gender == "female"
mask1.head(5)

In [ ]:
mask2 = df.Age < 14
mask2.head(5)

In [ ]:
(mask1 | mask2).head(10)

In [ ]:
df.loc[mask1 | mask2].head()

In [ ]:
female_adult = df.loc[mask1 | mask2, ["Smoke", "Caesarean"]]

In [ ]:
female_adult.head()

In [ ]:
female_adult.info()

In [ ]:
female_adult.describe()

In [ ]:
df.describe()

## Advanced Filtering with between(), isin() and ~

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv("../data/")

In [ ]:
summer.head()

In [ ]:
og_1988 = summer.loc[summer.Year == 1988]

In [ ]:
og_1988.head()

In [ ]:
og_1988.tail()

In [ ]:
og_1988.info()

In [ ]:
og_since1992 = summer.loc[summer.Year >= 1992]

In [ ]:
og_since1992.head()

In [ ]:
og_since1992.tail()

In [ ]:
summer.Year.between(1960, 1969).head()

In [ ]:
og_60s = summer.loc[summer.Year.between(1960, 1969, inclusive=True)]

In [ ]:
og_60s.head()

In [ ]:
og_60s.tail()

In [ ]:
my_favourite_games = [1972, 1996]

In [ ]:
summer.Year.isin(my_favourite_games).head()

In [ ]:
og_72_96 = summer.loc[summer.Year.isin(my_favourite_games)]

In [ ]:
og_72_96.head()

In [ ]:
og_72_96.tail()

In [ ]:
og_not_72_96 = summer.loc[~summer.Year.isin(my_favourite_games)]

In [ ]:
og_not_72_96.head()

In [ ]:
og_not_72_96.Year.unique()

### any() and all()

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head()

In [ ]:
titanic.sex == "male"

In [ ]:
(titanic.sex == "male").any()

In [ ]:
(titanic.sex == "male").all()

In [ ]:
(titanic.age == 80.0).any()

In [ ]:
pd.Series([-1, 0.5 , 1, -0.1, 0]).any()

In [ ]:
titanic.fare.all()

### Removing Columns

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv("summer.csv")

In [ ]:
summer.head()

In [ ]:
summer.drop(columns = "Sport")

In [ ]:
summer.head()

In [ ]:
summer.drop(columns = ["Sport", "Discipline"], inplace=True)

In [ ]:
summer.drop(labels = "Event", axis = "columns", inplace= True)

In [ ]:
#del summer["Event"]

In [ ]:
summer.head()

In [ ]:
summer = pd.read_csv("summer.csv")

In [ ]:
summer.head()

In [ ]:
summer = summer.loc[:,["Year", "City", "Athlete", "Country", "Gender", "Medal"]]

In [ ]:
summer.head()

### Removing Rows

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv("summer.csv", index_col = "Athlete")

In [ ]:
summer.head(10)

In [ ]:
summer.drop(index = "HAJOS, Alfred")

In [ ]:
summer.drop(index = ["HAJOS, Alfred","HERSCHMANN, Otto"], inplace = True)

In [ ]:
summer.head()

In [ ]:
summer.drop(labels = "DRIVAS, Dimitrios", axis = 0,  inplace = True)

In [ ]:
summer.head()

In [ ]:
summer = summer.loc[summer.Year == 1996]

In [ ]:
summer.head()

In [ ]:
summer = pd.read_csv("summer.csv", index_col = "Athlete")

In [ ]:
summer.head()

In [ ]:
mask1 = summer.Year == 1996
mask2 = summer.Sport == "Aquatics"

In [ ]:
summer = summer.loc[~(mask1 | mask2)]

In [ ]:
summer.head()

In [ ]:
(summer.Year == 1996).value_counts()

In [ ]:
1996 in summer.Year.values

In [ ]:
summer.Sport.isin(["Aquatics"]).any()

In [ ]:
(summer.Sport == "Aquatics").any()

### Adding new Columns to a DataFrame

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head()

In [ ]:
titanic["Zeros"] = "Zero"

In [ ]:
titanic.head()

In [ ]:
titanic.Ones = 1

In [ ]:
titanic.head()

In [ ]:
titanic.Ones

### Creating Columns based on other Columns

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head()

In [ ]:
1912 - titanic.age

In [ ]:
titanic["YoB"] = 1912 - titanic.age

In [ ]:
titanic.head()

In [ ]:
titanic.sibsp + titanic.parch

In [ ]:
titanic["relatives"] = titanic.sibsp + titanic.parch

In [ ]:
titanic.head()

In [ ]:
titanic.drop(columns = ["sibsp", "parch"], inplace = True)

In [ ]:
titanic.head()

In [ ]:
inflation_factor = 10

In [ ]:
titanic.fare*10

In [ ]:
titanic.fare = titanic.fare*10

In [ ]:
titanic.head()

### Adding Columns with insert()

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head()

In [ ]:
titanic["Test"] = "Test"

In [ ]:
titanic.head()

In [ ]:
relatives = titanic.sibsp + titanic.parch
relatives.head()

In [ ]:
titanic.insert(loc = 6, column = "relatives", value = relatives)

In [ ]:
titanic.head()

### Creating DataFrames from Scratch with pd.DataFrame()

In [ ]:
import pandas as pd

#### Having Columns in place

In [ ]:
player = ["Lionel Messi", "Cristiano Ronaldo", "Neymar Junior", "Kylian Mbappe", "Manuel Neuer"]

In [ ]:
nationality = ["Argentina", "Portugal", "Brasil", "France", "Germany"]

In [ ]:
club = ["FC Barcelona", "Juventus FC", "Paris SG", "Paris SG", "FC Bayern" ]

In [ ]:
world_champion = [False, False, False, True, True]

In [ ]:
height = [1.70, 1.87, 1.75, 1.78, 1.93]

In [ ]:
goals = [45, 44, 28, 21, 0]

In [ ]:
dic = {"Player":player, "Nationality":nationality, "Club":club, 
        "World_Champion":world_champion, "Height":height, "Goals_2018":goals
       }

In [ ]:
dic

In [ ]:
df = pd.DataFrame(data = dic)

In [ ]:
df

In [ ]:
players = df.set_index("Player")

In [ ]:
players

#### Having Rows in place

In [ ]:
list(zip(nationality, club, world_champion, height, goals))

In [ ]:
zipped = list(zip(nationality, club, world_champion, height, goals))

In [ ]:
messi, ronaldo, neymar, mbappe, neuer = zipped

In [ ]:
messi

In [ ]:
ronaldo

In [ ]:
df = pd.DataFrame(data = [messi, ronaldo, neymar, mbappe, neuer],
             index = ["Lionel Messi", "Cristiano Ronaldo", "Neymar Junior", "Kylian Mbappe", "Manuel Neuer"],
             columns = ["Nationality", "Club", "World_Champion", "Height", "Goals_2018"]
            )

In [ ]:
df

In [ ]:
df2 = pd.Series(index = player, data = nationality, name = "Nationality").to_frame()

In [ ]:
df2

In [ ]:
df2["Club"] = club

In [ ]:
df2

### Adding new Rows (hands-on approach)

#### Adding one Row

In [ ]:
players

In [ ]:
players.reset_index(inplace= True)

In [ ]:
players

In [ ]:
players.loc[5, :] = ["Sergio Ramos", "Spain", "Real Madrid", True, 1.84 ,5]

In [ ]:
players

#### Adding many Rows

In [ ]:
new = pd.DataFrame(
    data = [["Mohamed Salah", "Egypt", "FC Liverpool", False, 1.75, 44],
            ["Luis Suarez", "Uruguay", "FC Barcelona", False, 1.82, 31]],
    columns = players.columns
)

In [ ]:
new

In [ ]:
players = players.append(new, ignore_index= True)

In [ ]:
players

# Part 1: Pandas - from Zero to Hero

## DataFrame Basics III

### Sorting DataFrames (Version 1.0 Update)

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic

In [ ]:
titanic.age.sort_values()

In [ ]:
titanic.sort_values(by = "age")

In [ ]:
titanic

In [ ]:
titanic.sort_values(by = "age", ascending = False, inplace = True)

In [ ]:
titanic

In [ ]:
titanic.sort_values(by = ["pclass", "sex", "age"], ascending = [True, True, False], inplace= True)

In [ ]:
pd.options.display.max_rows = 900

In [ ]:
titanic

In [ ]:
titanic.sort_index(ascending = True, inplace = True)

In [ ]:
titanic

In [ ]:
titanic.sort_values(by = "age").reset_index(drop = True)

In [ ]:
titanic.sort_values(by = "age", ignore_index = True)

### Ranking DataFrames with rank()

In [ ]:
import pandas as pd

In [ ]:
sales = pd.Series([15, 32, 45, 21, 55, 15, 0],  index = ["Mo", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"])

In [ ]:
sales = pd.Series([15, 32, 45, 15, 55, 15, 0],  index = ["Mo", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"])

In [ ]:
sales

In [ ]:
sales.sort_values(ascending = False)

In [ ]:
sales.rank(ascending=False, method = "min").sort_values(ascending = True)

In [ ]:
sales.rank(ascending=False, method = "min", pct=True).sort_values()

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.fare.rank(ascending = False)

In [ ]:
titanic["fare_rank"] = titanic.fare.rank(ascending = False, method="min")

In [ ]:
titanic.head()

In [ ]:
titanic.sort_values("fare", ascending= False)

In [ ]:
titanic.drop(columns = "fare_rank", inplace= True)

### nunique(), nlargest() and nsmallest() with DataFrames

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head()

In [ ]:
titanic.tail()

In [ ]:
titanic.age.unique()

In [ ]:
titanic.nunique(axis = 1, dropna=False)

In [ ]:
titanic.nunique(dropna = False)

In [ ]:
titanic.nlargest(n = 5, columns = "fare")

In [ ]:
titanic.sort_values("fare", ascending = False).head(5)

In [ ]:
titanic.nsmallest(n = 1, columns = "age")

In [ ]:
titanic.loc[titanic.age.idxmin()]

### Summary Statistics and Accumulations

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head()

In [ ]:
titanic.describe()

In [ ]:
titanic.count(axis = "columns")

In [ ]:
titanic.count(axis = 1)

In [ ]:
titanic.mean(axis = 1)

In [ ]:
titanic.sum(axis = 0)

In [ ]:
titanic.head()

In [ ]:
titanic.fare.cumsum(axis = 0)

In [ ]:
titanic.corr()

In [ ]:
titanic.survived.corr(titanic.pclass)

### The agg() method

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head()

In [ ]:
titanic.describe()

In [ ]:
titanic.mean()

In [ ]:
titanic.agg("mean")

In [ ]:
titanic.agg(["mean", "std"])

In [ ]:
titanic.agg(["mean", "std", "min", "max", "median"])

In [ ]:
titanic.agg({"survived": "mean", "age":["min", "max"]})

### apply(), map() and applymap()

In [ ]:
import pandas as pd

In [ ]:
sales = pd.read_csv("sales.csv", index_col = 0)

In [ ]:
sales

In [ ]:
sales.info()

In [ ]:
sales.min(axis = 0)

In [ ]:
sales.min(axis = 1)

In [ ]:
def range(series):
    return series.max() - series.min()

In [ ]:
sales.apply(lambda x: x.max() - x.min(), axis = 0)

In [ ]:
summer = pd.read_csv("summer.csv")

In [ ]:
summer.head()

In [ ]:
summer.Athlete.apply(lambda x: x[0])

In [ ]:
summer.Athlete.map(lambda x: x[0])

In [ ]:
summer.iloc[:,1:3].applymap(lambda x: x[0])

In [ ]:
sales.applymap(lambda x: 0.4*x-5)

In [ ]:
sales*0.4-5

### Hierarchical Indexing (MultiIndex) Intro

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic

In [ ]:
titanic = titanic.iloc[:50, :]

In [ ]:
titanic.set_index(["pclass", "sex"], inplace = True)

In [ ]:
titanic

In [ ]:
titanic.sort_index(ascending = [True, True], inplace = True )

In [ ]:
titanic

In [ ]:
titanic.swaplevel()

In [ ]:
titanic

In [ ]:
titanic.reset_index(inplace = True)

In [ ]:
titanic

### Hierarchical Indexing (MultiIndex) Part 2

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic = titanic.iloc[:50,]

In [ ]:
titanic

In [ ]:
titanic = titanic.set_index(["pclass", "sex"]).sort_index(ascending = True)

In [ ]:
titanic

In [ ]:
titanic.loc[1]

In [ ]:
titanic.loc[[1,2]]

In [ ]:
titanic.loc[:2]

In [ ]:
titanic.loc[1, "female"]

In [ ]:
#titanic.loc[1, "female", "age"]

In [ ]:
titanic.loc[(1,"female")]

In [ ]:
titanic.loc[(1,"female"), "age"]

In [ ]:
titanic.loc[([1,2],"female"), ["age", "fare"]]

In [ ]:
titanic.loc[([1, 2],"female"), :]

In [ ]:
titanic

In [ ]:
titanic.loc[(slice(1), slice("female")), :]

### String Operations Intro / Refresher

In [ ]:
"Hello World"

In [ ]:
type("Hello World")

In [ ]:
hello = "Hello World"
hello

In [ ]:
len(hello)

In [ ]:
hello.lower()

In [ ]:
hello.upper()

In [ ]:
hello.title()

In [ ]:
hello.split(" ")

In [ ]:
hello.replace("Hello", "Hi")

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv("summer.csv")

In [ ]:
summer.head()

In [ ]:
names = summer.loc[:9, "Athlete"].copy()

In [ ]:
names

In [ ]:
names.dtypes

In [ ]:
names[0]

In [ ]:
type(names[0])

In [ ]:
names.str.lower()

### String Operations in Pandas

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv("summer.csv")

In [ ]:
summer.head()

In [ ]:
names = summer.loc[:9, "Athlete"].copy()

In [ ]:
names

In [ ]:
names.str.lower()

In [ ]:
names.str.title()

In [ ]:
summer.Event.str.split(" ", n = 2, expand= True)

In [ ]:
summer[summer.Event.str.contains("100M")]